.orderButtonMenu{
    padding: 10px 20px;
    gap: 10px;
    background: white !important;
    text-align: center;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin: 0;
}

.orderButtonMenu:hover{
    border-color: white !important;
}

.redMenu{
    background-color: #F05654 !important;
    color: white !important;
}

.redMenu:hover{
    border-color: #F05654 !important;
}