.report{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.orderButton:hover{
    color: #FFFFFF;
}

.orderButton:active{
    background-color: #F2726F !important;
    border-color: #F2726F !important;
    color: #FFFFFF !important;
}
