:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

.basCard{
    align-items: center;
    width: 264px;
    height: 512px;
    border-color: white;
    border-radius: 10px;
    padding: 20px;
}

.cardTitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.cardText{
    width: 224px;
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
    color: #000000;
}

.orderButton{
    padding: 10px 20px;
    gap: 10px;
    width: 161px;
    height: 39px;
    left: 1307px;
    top: 644px;
    background: #F05654 !important;
    border-radius: 10px;
}

.buttonText{
    width: 121px;
    height: 19px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.mealCategory{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
