:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

.footer{
    background: #FFFFFF !important;
    height: 200px;
    width: 100%;
}

.navBrand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 12.47px;
    left: 20.89%;
    right: 70.35%;
    top: 28.33%;
    bottom: 27.71%;
}

.navbarCustom {
    display: flex;
    flex-direction: row;
    gap: 213px;
    background: #FFFFFF !important;
    height: 120px;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.brand{
    width: 52.75px;
    height: 52.75px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textBrand{
    width: 103px;
    height: 48px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19.653px;
    line-height: 24px;
    color: #8B8B8B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.navBlockLeft{
    display: flex;
    flex-direction: row;
    gap: 112px;
}

.navBlockRight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.navItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 22px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #8B8B8B;
}

.navItem:hover{
    color: #8B8B8B;
}

.navItem:focus{
    color: #8B8B8B;
}

.navItemProfile{
    align-items: flex-start;
    width: 48px;
    height: 45px;
}

.navItemExit{
    width: 52px;
    height: 52px;
}

.footerMainBlock{
    display: flex;
    flex-direction: row;
    gap: 82px;
}

